<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
    <title>All Exercises Page</title>
</head>

<body>
    <div class="body">
        <h1>Pilates Exercises</h1>
        <nav>
            <a href="/exercises/new">Create Exercise</a>
        </nav>
        <div class="card w-50">
            <div class="card-body">
                <p class="card-text">
                    <% for(let i = 0; i < exercisesList.length; i++){ %>
                        Exercise Name:
                        <a href="/exercises/<%=exercisesList[i].id%>">
                            <%=exercisesList[i].name%>
                        </a>
                        </br>
                        Apparatus:
                        <%=exercisesList[i].apparatus%>
                            </br>
                            Level:
                            <%=exercisesList[i].level%>
                                </br>
                                Description:
                                <%=exercisesList[i].description%>
                                    </br>
                                    Certifying Body:
                                    <%=exercisesList[i].certifying_body%>
                </p>
                <a href="/exercises/<%=exercisesList[i].id%>/edit">
                    <button class="btn btn-secondary" type="submit">EDIT</button>
                </a>
                <form method="POST" action="/exercises/<%=exercisesList[i].id%>?_method=DELETE">
                    <input class="btn btn-secondary" type="submit" value="DELETE" />
                </form>
                <% } %>
            </div>
            </br>
        </div>
        </br>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>